@model Finalproj.Models.Paiol

@{
    ViewData["Title"] = "Criar Paiol";
}

<h1>Criar novo paiol</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Localizacao" class="control-label"></label>
                <input asp-for="Localizacao" class="form-control" />
                <span asp-validation-for="Localizacao" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="LimiteMLE" class="control-label"></label>
                <input asp-for="LimiteMLE" class="form-control" />
                <span asp-validation-for="LimiteMLE" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
